body{
  padding: 25px;
  background-color:#ffcba4;
}
.title {
	color: #5C6AC4;
}

.navbar{
  display:flex;
  justify-content:center;
}

.navbar ul{
  list-style:none;
  display:flex;
  gap: 20px;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#cb410b;
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #120a8f;
}
img{
  height: 400px;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
}

b{
  color: #78184a;
  font-size: 1.2rem;
}
